Lighting_Global_Variable
[{"id":"34291ec4.fae0f2","type":"inject","z":"662a509f.8a45a","name":"5AM","topic":"","payload":"early_morning","payloadType":"str","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["2652e446.0e9a1c","b595ee04.78566"]]},{"id":"56add0d5.ddd7f","type":"inject","z":"662a509f.8a45a","name":"11AM","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["2652e446.0e9a1c"]]},{"id":"db0cde8d.2bd15","type":"trigger-state","z":"662a509f.8a45a","name":"Night","server":"b08de338.e68c3","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sun.sun","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"8bv12jxkyqy","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon"},{"id":"1ndxfjoqx76","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"above_horizon"}],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"bteq1a5wsgj","messageType":"payload","messageValue":"night","messageValueType":"str","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""},{"outputId":"kfh8miulye","messageType":"payload","messageValue":"turn_on","messageValueType":"str","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":true,"state_type":"str","x":110,"y":160,"wires":[[],[],["2652e446.0e9a1c"],["531419ad.def3e8"]],"outputLabels":["","","night","turn_on"]},{"id":"5e202236.f87a0c","type":"inject","z":"662a509f.8a45a","name":"11PM","topic":"","payload":"late_night","payloadType":"str","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["2652e446.0e9a1c"]]},{"id":"2652e446.0e9a1c","type":"change","z":"662a509f.8a45a","name":"Time of Day","rules":[{"t":"set","p":"time_of_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[[]]},{"id":"b08de338.e68c3","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
