Motion_Activated_Lighting_General_Area
[{"id":"a6f95df9.f8224","type":"api-call-service","z":"662a509f.8a45a","name":"Light On 100%","server":"b08de338.e68c3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{light}}","data":"{\"brightness\":\"255\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":2780,"wires":[[]]},{"id":"55a89626.c94d48","type":"api-current-state","z":"662a509f.8a45a","name":"Day/Night?","server":"b08de338.e68c3","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":2720,"wires":[["4939a488.7c215c"],["a6f95df9.f8224"]]},{"id":"f9e6b07.35be75","type":"switch","z":"662a509f.8a45a","name":"Late Night?","property":"late_night","propertyType":"global","rules":[{"t":"true"},{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":1010,"y":2680,"wires":[["c28c4d42.0dc0c"],["55a89626.c94d48"],["55a89626.c94d48"]]},{"id":"4939a488.7c215c","type":"api-call-service","z":"662a509f.8a45a","name":"Light On 30%","server":"b08de338.e68c3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{light}}","data":"{\"brightness\":\"77\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":2720,"wires":[[]]},{"id":"c28c4d42.0dc0c","type":"api-call-service","z":"662a509f.8a45a","name":"Light On 15%","server":"b08de338.e68c3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{light}}","data":"{\"brightness\":\"39\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":2660,"wires":[[]]},{"id":"4f4d3978.e9c908","type":"switch","z":"662a509f.8a45a","name":"Early Morning?","property":"early_morning","propertyType":"global","rules":[{"t":"true"},{"t":"false"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":840,"y":2640,"wires":[["2d29638a.0dbe1c"],["f9e6b07.35be75"],["f9e6b07.35be75"]]},{"id":"a48c0199.63b36","type":"api-current-state","z":"662a509f.8a45a","name":"Light On?","server":"b08de338.e68c3","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{light}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":2640,"wires":[["4f4d3978.e9c908"],[]]},{"id":"2d29638a.0dbe1c","type":"api-call-service","z":"662a509f.8a45a","name":"Light On 30%","server":"b08de338.e68c3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{light}}","data":"{\"brightness\":\"77\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":2620,"wires":[[]]},{"id":"e8fe7c9b.1ac22","type":"change","z":"662a509f.8a45a","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2640,"wires":[["a48c0199.63b36","d57b2b32.3d6538"]]},{"id":"d57b2b32.3d6538","type":"stoptimer","z":"662a509f.8a45a","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":580,"y":2800,"wires":[["c58527bf.7acf68"],[]]},{"id":"ef71fc45.2a3","type":"switch","z":"662a509f.8a45a","name":"House Occupied?","property":"house_occupied","propertyType":"global","rules":[{"t":"true"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":2640,"wires":[["e8fe7c9b.1ac22"],["e8fe7c9b.1ac22"]]},{"id":"c58527bf.7acf68","type":"api-current-state","z":"662a509f.8a45a","name":"Still Motion?","server":"b08de338.e68c3","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{topic}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":2720,"wires":[["cf5e2be5.e76748"],["d57b2b32.3d6538"]]},{"id":"1f3cfc1.2124704","type":"trigger-state","z":"662a509f.8a45a","name":"Office Motion","server":"b08de338.e68c3","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.office_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"kf74jzsl29","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"j79xmwub5jp","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"08si6sie4mto","messageType":"payload","messageValue":"light.office","messageValueType":"str","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"state_type":"str","x":130,"y":2640,"wires":[[],[],["ef71fc45.2a3"]]},{"id":"cf5e2be5.e76748","type":"api-call-service","z":"662a509f.8a45a","name":"Light Off","server":"b08de338.e68c3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"{{light}}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":2800,"wires":[[]]},{"id":"b08de338.e68c3","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
