Motion_Activated_Lighting_General_Area
[{"id":"fa63784c.a1f5d8","type":"api-call-service","z":"662a509f.8a45a","name":"Light On 15%","server":"b08de338.e68c3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{light}}","data":"{\"brightness\":\"38\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2220,"y":1400,"wires":[[]]},{"id":"b07872c.79db39","type":"switch","z":"662a509f.8a45a","name":"Time of Day?","property":"time_of_day","propertyType":"global","rules":[{"t":"eq","v":"day","vt":"str"},{"t":"eq","v":"early_morning","vt":"str"},{"t":"eq","v":"night","vt":"str"},{"t":"eq","v":"late_night","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":5,"x":2010,"y":1340,"wires":[["7cccdf1b.d3e4b"],["fe1da313.af641"],["fe1da313.af641"],["fa63784c.a1f5d8"],["fe1da313.af641"]]},{"id":"7cccdf1b.d3e4b","type":"api-call-service","z":"662a509f.8a45a","name":"Light On 100%","server":"b08de338.e68c3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{light}}","data":"{\"brightness\":\"255\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2220,"y":1280,"wires":[[]]},{"id":"fe1da313.af641","type":"api-call-service","z":"662a509f.8a45a","name":"Light On 30%","server":"b08de338.e68c3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{light}}","data":"{\"brightness\":\"77\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2220,"y":1340,"wires":[[]]},{"id":"ea1fc6d1.b3d748","type":"api-current-state","z":"662a509f.8a45a","name":"Light On?","server":"b08de338.e68c3","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{light}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1800,"y":1280,"wires":[["b07872c.79db39"],[]]},{"id":"1e15d215.1165fe","type":"change","z":"662a509f.8a45a","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":1280,"wires":[["ea1fc6d1.b3d748","6730a327.0e6b1c"]]},{"id":"6730a327.0e6b1c","type":"stoptimer","z":"662a509f.8a45a","duration":"4","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1640,"y":1420,"wires":[["a20a0ee5.7c7a5"],[]]},{"id":"779d1d73.cccb34","type":"trigger-state","z":"662a509f.8a45a","name":"Entry Motion","server":"b08de338.e68c3","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.entry_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"kf74jzsl29","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"j79xmwub5jp","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"ax7upfkmt5","messageType":"payload","messageValue":"light.entry","messageValueType":"str","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"state_type":"str","x":1450,"y":1280,"wires":[[],[],["1e15d215.1165fe"]]},{"id":"a20a0ee5.7c7a5","type":"api-current-state","z":"662a509f.8a45a","name":"Still Motion?","server":"b08de338.e68c3","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{topic}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1790,"y":1340,"wires":[["5ddb164d.a9be38"],["6730a327.0e6b1c"]]},{"id":"5ddb164d.a9be38","type":"api-call-service","z":"662a509f.8a45a","name":"Light Off","server":"b08de338.e68c3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"{{light}}","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2000,"y":1420,"wires":[[]]},{"id":"b08de338.e68c3","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"}]
